$commonWhite: white;
$commonBlack: black;
$commonGray: rgb(150, 144, 144);
$gameAnswerText: $commonWhite;
$endgameStatisticsWord: $commonBlack;
$endgameStatisticsWordTranslate: $commonGray;
$endgameStatisticsGroupTitle: $commonGray;
$answeredWordsCounter: green;
$unansweredWordsCounter: red;