body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
  background-color: #90e0efff;
}

.header-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  background-color: #0077b6ff;
}

.footer-wrapper {
  box-sizing: border-box;
  display: flex;
  height: 50px;
  background-color: #0077b6ff;
}

.header-links {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.games-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.make-words-wrapper {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00b4d8ff;
  border-radius: 25px;
  justify-content: center;
}

.fullscreen-wrapper {
  width: 100vw;
  height: 100vh;
}

.word-info-main-wrapper {
  background-color: #00b4d8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 5;
}

.game-stats-wrapper {
  background-color: rgb(2, 160, 192);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  flex: 1;
}

.word-info {
  height: 300px;
  width: 90%;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: #caf0f8ff;
}

.word-info > span  {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-game-btn {
  padding: 15px;
  background-color: #0077b6ff;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
}

.game-links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.game-link {
  background-color: #0077b6ff;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  transform: scale(.95);
}

.game-link:hover {
  transform: scale(1);
  transition: transform .5s;
}

.game-wrapper {
  display: flex;
  flex: 8;
}

.word-letters {
  flex: 2;
}

.word-letters-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.word-letter-box {
  width: 30px;
  height: 30px;
  display: flex;
  margin: 5px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  border: 3px solid white;
  align-items: center;
  justify-content: center;
  background-color: #0077b6ff;
}

.word-letter-box:hover {
  cursor: pointer;
  border: 3px solid rgb(143, 250, 152);
  transform: scale(1.01);
}

.word-inputs-letter-box {
  width: 35px;
  height: 35px;
  display: flex;
  margin: 5px;
  font-size: 0px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 8px;
  border: 3px solid rgb(110, 110, 110);
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 216, 216);
}

.make-words-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  flex: 1;
}

.fullscreen-btn {
  cursor: pointer;
  border: none;
  background-color: rgb(2, 160, 192);
}

button:active, button:focus {
  outline: none;
  }

.fullscreen-btn > img {
  width: 35px;
}
